In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import os
import numpy as np

In [2]:
from shapely.geometry import Point, Polygon

In [3]:
sns.set(style="darkgrid")

In [4]:
filepath = os.path.join("Resources", "data.csv")
data = pd.read_csv(filepath)
data.head()

                       neighbourhood
0  Waterfront Communities-The Island
1                   Newtonbrook East
2            York University Heights
3                        Dorset Park
4                Englemount-lawrence

In [5]:
nb = os.path.join('Resources', 'Neighbourhoods', "Neighbourhoods.shp")
regions = gpd.read_file(nb)
regions['neighbourhood'] = regions['FIELD_7'].str.replace(' \(.+\)', '').str.lower()
regions.sample(5)

,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_7,FIELD_8,FIELD_9,FIELD_10,FIELD_11,FIELD_12,FIELD_13,FIELD_14,FIELD_15,geometry,neighbourhood
99,2200,25886648,25926761,49885,33,33,Clanton Park (33),Clanton Park (33),None,None,-79.446303,43.741978,16493089,7.942402e+06,14050.036863,"POLYGON ((-79.43371 43.73615, -79.43626 43.734...",clanton park
111,2212,25886513,25926773,49885,138,138,Eglinton East (138),Eglinton East (138),None,None,-79.245598,43.740922,16493281,6.179031e+06,13864.264227,"POLYGON ((-79.24549 43.73060, -79.24602 43.731...",eglinton east
16,2117,25886789,25926678,49885,17,17,Mimico (includes Humber Bay Shores) (17),Mimico (includes Humber Bay Shores) (17),None,None,-79.500137,43.615924,16491761,1.347824e+07,32302.661690,"POLYGON ((-79.48040 43.62107, -79.48033 43.621...",mimico
6,2107,25886627,25926668,49885,38,38,Lansing-Westgate (38),Lansing-Westgate (38),None,None,-79.424748,43.754271,16491601,1.025436e+07,15391.584157,"POLYGON ((-79.43998 43.76156, -79.44004 43.761...",lansing-westgate
20,2121,25886715,25926682,49885,2,2,Mount Olive-Silverstone-Jamestown (2),Mount Olive-Silverstone-Jamestown (2),None,None,-79.587259,43.746868,16491825,8.893568e+06,17941.019557,"POLYGON ((-79.60338 43.75786, -79.60205 43.758...",mount olive-silverstone-jamestown

In [6]:
starbucks_df = pd.read_csv('Resources/Starbucks locations.csv')
starbucks_df.head()

             ID        Lat       Long
0  75921-104040  43.086574 -79.059356
1   3997-146205  43.077276 -79.082792
2   75525-35359  43.078906 -79.081879
3   75633-86381  43.079703 -79.082204
4   75790-96396  43.082189 -79.082469

In [7]:
regions['geometry']

0      POLYGON ((-79.43592 43.68015, -79.43492 43.680...
1      POLYGON ((-79.41096 43.70408, -79.40962 43.704...
2      POLYGON ((-79.39119 43.68108, -79.39141 43.680...
3      POLYGON ((-79.50529 43.75987, -79.50488 43.759...
4      POLYGON ((-79.43969 43.70561, -79.44011 43.705...
                             ...
135    POLYGON ((-79.24549 43.73060, -79.24555 43.730...
136    POLYGON ((-79.40401 43.64719, -79.40419 43.647...
137    POLYGON ((-79.55236 43.70947, -79.55229 43.709...
138    POLYGON ((-79.51703 43.64611, -79.51717 43.646...
139    POLYGON ((-79.28857 43.79607, -79.28921 43.795...
Name: geometry, Length: 140, dtype: geometry

In [8]:
# Test
regions.loc[0, 'geometry']

In [9]:
# Create a set of starbucks locations lat and lng combinations (it takes quite a long time...)
lng_lats = []

lngs = starbucks_df['Long']
lats = starbucks_df['Lat']

lng_lats = zip(lngs, lats)

neighbourhood_id = []
neighbourhood_name = []
lats_list = []
lngs_list = []

for lng_lat in lng_lats:
    point = Point(lng_lat[0], lng_lat[1])
    
    for i in np.arange(len(regions)):
        poly = regions.loc[i, 'geometry']
        
        if point.within(poly):
            neighbourhood_id.append(regions.loc[i, 'FIELD_6'])
            neighbourhood_name.append(regions.loc[i, 'FIELD_7'])
            lats_list.append(lng_lat[1])
            lngs_list.append(lng_lat[0])

In [12]:
starbucks_dict = {
    'Lat' : lats_list,
    'Long' : lngs_list,
    'Hood ID' : neighbourhood_id,
    'Neighbourhood' : neighbourhood_name
}

clean_starbucks = pd.DataFrame(starbucks_dict)

clean_starbucks

           Lat       Long  Hood ID                 Neighbourhood
0    43.797471 -79.148805      131                   Rouge (131)
1    43.743753 -79.216334      139     Scarborough Village (139)
2    43.770374 -79.186485      136               West Hill (136)
3    43.816306 -79.293317      130                Milliken (130)
4    43.776324 -79.259292      127                 Bendale (127)
..         ...        ...      ...                           ...
173  43.766139 -79.476335       27  York University Heights (27)
174  43.726773 -79.451830       31       Yorkdale-Glen Park (31)
175  43.757568 -79.465829       27  York University Heights (27)
176  43.725807 -79.450222       31       Yorkdale-Glen Park (31)
177  43.733168 -79.452208       33             Clanton Park (33)

[178 rows x 4 columns]

In [13]:
clean_starbucks['Neighbourhood'].value_counts()

Bay Street Corridor (76)                  26
Waterfront Communities-The Island (77)    19
Church-Yonge Corridor (75)                 8
Islington-City Centre West (14)            8
Annex (95)                                 7
                                          ..
Agincourt South-Malvern West (128)         1
Englemount-Lawrence (32)                   1
Rockcliffe-Smythe (111)                    1
South Parkdale (85)                        1
Willowdale West (37)                       1
Name: Neighbourhood, Length: 72, dtype: int64